/* HeroSection.css */
@font-face {
  font-family: "PokemonGB";
  src: url("../../public/pokemonMolters.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hero-section-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-size: cover;
  background-position: center;
  transition: transform 0.1s ease-out;
}

.hero-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* color, transparency */
}

.hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero-center-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-family: "PokemonGB", sans-serif;
  font-size: 5rem;
  margin-bottom: 4rem; /* Increased margin for more space */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: #ffffff;
}

.pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem; /* Increased margin for more space */
}

.pokedex-image {
  max-width: 500px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transition: transform 0.1s ease-out;
}

.explore-button {
  font-family: "PokemonGB", sans-serif;
  font-size: 1.5rem;
  padding: 12px 24px;
  background-color: #03dac6;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.explore-button:hover {
  background-color: #018786;
  transform: translateY(-2px);
}

.explore-button:active {
  transform: translateY(0);
}

/* Mobile styles to disable parallax */
.hero-section-wrapper.mobile .hero-background,
.hero-section-wrapper.mobile .pokedex-image {
  transform: none !important;
  transition: none !important;
}

@media (max-width: 1200px) {
  .hero-title {
    font-size: 4rem;
    margin-bottom: 3.5rem; /* Adjusted for smaller screens */
  }

  .pokedex-image {
    max-width: 450px;
  }

  .pokedex-container {
    margin-bottom: 3.5rem; /* Adjusted for smaller screens */
  }
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 3.5rem;
    margin-bottom: 3rem; /* Adjusted for smaller screens */
  }

  .pokedex-image {
    max-width: 400px;
  }

  .pokedex-container {
    margin-bottom: 3rem; /* Adjusted for smaller screens */
  }

  .explore-button {
    font-size: 1.25rem;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
    margin-bottom: 2.5rem; /* Adjusted for smaller screens */
  }

  .pokedex-image {
    max-width: 350px;
  }

  .pokedex-container {
    margin-bottom: 2.5rem; /* Adjusted for smaller screens */
  }

  .explore-button {
    font-size: 1.1rem;
    padding: 8px 16px;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 2.5rem;
    margin-bottom: 2rem; /* Adjusted for smaller screens */
  }

  .pokedex-image {
    max-width: 280px;
  }

  .pokedex-container {
    margin-bottom: 2rem; /* Adjusted for smaller screens */
  }

  .explore-button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media (max-width: 400px) {
  .hero-title {
    font-size: 2rem;
    margin-bottom: 1.5rem; /* Adjusted for smaller screens */
  }

  .pokedex-image {
    max-width: 240px;
  }

  .pokedex-container {
    margin-bottom: 1.5rem; /* Adjusted for smaller screens */
  }
}
